*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #191919;
    background-color: #FCFCFC;
}

img {
    max-width: 100%;
}

html {
    font-size: 16px;
}

/* --------------------------------GLOBAL----------------------------- */

.container-global {
    width: 80%;
    margin: 0 auto;
    max-width: 1800px;
}

.padding2em {
    padding: 2em 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.poppins-thin:hover {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }

.flex {
    display: flex;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }

.light {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.black-background {
    background-color: #191919;
    z-index: 100;
}

/*--------------------------------------*/ 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#191919; /* Black overlay */
  /*   border-right: 1px solid #FCFCFC;
    border-left: 1px solid #FCFCFC; */
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s ease; /* Smooth transition for disappearing effect */
}

.grid__text-item:hover .overlay {
    opacity: 0; /* Make the overlay disappear on hover */
}

.grid__text-item:hover .work__img {
    opacity: 1; /* Make sure the image is fully visible when hovering */
}


/* --------------------------------MAIN----------------------------- */


/* Navigtion */

.main__nav {
    width: 100%;
}

.main__nav-list {
    gap: 30px;
    margin-left: auto;
    align-items: center;
}

.main__logo {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5rem;
    padding-right: 2em;
}

.main__logo a {
    text-decoration: none;
    color: #191919;
}

.list-items {
    list-style: none; 
}

.list-items-a {
    text-decoration: none;
    color: #191919;
    font-size: 1rem;
}

.list-items-a:hover {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

/* Text in Main */

.main {
    height: 100vh;
    width: auto;
    background-color: #FCFCFC;
}

.main__me {
    height: 80%;
    align-content: center;
    text-align: left;
    font-size: 3rem;
}



@media (max-width: 1200px) {
    .main__me {
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    .main__me {
        font-size: 16px;
    }
}


/* --------------------------------WORK----------------------------- */

.hoveroverprojects {
    background-color: #FCFCFC;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 2px solid #191919;
    border-bottom: 2px solid #191919;
    background-color: #FCFCFC;
}

@media (max-width: 1500px) {
    .grid-parent {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 1000px) {
    .grid-parent {
      grid-template-columns: 1fr; 
    }
  }


.grid__text-item {
    border-top: 0.1px solid #191919;
    border-bottom: .1px solid #191919;
    border-right: 0.5px solid #191919;
    border-left: .5px solid #191919;
    position: relative;
}

.grid__text-item p {
    padding-left: 1em;
}

.grid__text-item img {
    width: 100%;
}

.grey {
    background-color: #EEEEEE;
}




/* --------------------------------JOURNEY----------------------------- */

.journey {
    background-color: #FCFCFC;
    padding: 10em 0;
    color: #191919;
    font-weight: 200;
    height: 100vh;
}

.con__journey-p {
    width: 80%;
    font-size: 3rem;
}

.con__journey-p a {
    text-decoration: none;
    color: #191919;
}

.con__journey-p a:hover {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}



.con__journey-img {
    text-align: left;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 0;
    margin-top: 3em;
    padding: 0;
}

.journey__div-img {
    width: 50%;
    height: 100%;
    margin-right: 3em;
}

.journey__facts {
    width: 100%;
    align-items: flex-start;
    height: 100%;
}



/* FACTS POPPINNNGG */

.journey__facts {
    height: 100%; 
}

.facts {
    font-size: 2em;
    font-weight: 300; 
}

.marquee-button {
    padding: 1em 2em;
    background-color: transparent; 
    border: 1px solid #191919; 
    width: auto;
    text-transform: uppercase;
    transition: all 0s ease; /* Smooth transition for hover effects */
}





/* Hover Effect */
.marquee-button .marquee-text {
    animation: marquee-animation 30s linear infinite; /* Infinite scrolling animation */
}

.marquee-button:active {
    background-color: #e0e0e0; /* Darker background on click */
    border-color: #555; /* Darker border on click */
    transform: scale(0.95); /* Shrink button slightly for "pressed" effect */
    transition: transform 0.1s ease; /* Add a smooth transition for the scale effect */
}

/* Animation */
@keyframes marquee-animation {
    0% {
        transform: translateX(0); /* Start from its current position */
    }
    100% {
        transform: translateX(-100%); /* Move off-screen to the left */
    }
}

/* facts---------- */

.factspopping {
    padding: 2em 0;
    margin: 2em 0;

}

.fact-display.fade-out {
    opacity: 0; /* Fully transparent */
}

@media (max-width: 900px) {
    .factspopping {
        padding: 3em;
        margin: 3em 0;
    }

    .marquee-button {
        margin: 1em 0;
    }

    
}


/* --------------------------------CONNECT----------------------------- */

.connect {
    border-top: 1px solid #191919;
}

.connectwithme {
    font-size: 3em;
    padding: 1em 0;
}

.connect__contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}

.contact__items {
    padding: 8em 6em;
    text-align: center;
    border-top: 1px solid #191919;
    border-right: 1px solid #191919;
}

.contact__items a {
    color:#191919;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
}

.contact__items a:hover {
    color: #e0e0e0; /* This will change font color to white */
    font-style: italic;
}

.contact__items:hover {
    background-color: #191919; /* Background color of the div */
}

.contact__items:hover a {
    color: #e0e0e0; /* This makes the font color white when hovering over the div */
}

@media (max-width: 1500px) {
    .connect__contact {
      grid-template-columns: repeat(2, 1fr); 
    }
    .overlay {
        visibility: hidden;
    }
  }
  
  @media (max-width: 1000px) {
    .connect__contact {
      grid-template-columns: 1fr; 
    }
  }

  /* -------------------Footer-----------------------*/

.connect_bye {
    font-weight: 200;
    justify-content: center;
  }

.bye_one {
    border-top: 1px solid #191919;
    border-right: 1px solid #191919;
    padding: 2em 0;
    width: 20%;
  }

.bye_one-left {
    flex-direction: column;
    align-items: center;

}

.journey__div-img {
    width: 50%;
}

.bye_two {
    border-top: 1px solid #191919;
    border-right: 1px solid #191919;
    padding: 2em 0;
    width: 80%;
    align-content: center;
  }

  .bye_two p a {
    text-decoration: none;
    font-weight: 500;
    color: #191919;
  }

  .bye_two p a:hover {
    font-style: italic;
    font-weight: 100;
  }


  /* -------------------------coding lab------------------------------*/

  .codinglab_div {
    height: 100vh;
  }

  .codinglab {
    margin: auto 0;
    text-align: center;
    align-content: center;
  }

    /* -------------------------random square------------------------------*/

    main {
        position: relative;
        height: 100vh; /* Set the height to viewport height */
        overflow: hidden; /* Ensure the square doesn't go outside */
    }
    
    #randomSquare {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid black;
        background: transparent;
        border-radius: 5%;
        transition: transform 0.5s ease;
    }

/* Diese Klasse wird für kontinuierliche Bewegung und Drehung sorgen */
@keyframes moveAndRotate {
    0% {
        transform: translate(0, 0) rotate(0deg); /* Startposition */
    }
    100% {
        transform: translate(var(--move-x), var(--move-y)) rotate(var(--rotate-angle)); /* Endposition */
    }
}